 .AIESEC{
    font-size: 4vh;
    color: grey;
 }
 @media (max-width: 768px){

    .AIESEC
 {
    font-size:2vh;
    color: grey;
 }
 }
 .text-dark{
    font-weight: 500;
 }
 @media (max-width: 768px){

    .col-md-6.col-12.text-md-left
 {
    text-align: center;
 }
 }