@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #477DEE;
    --grey: #6A6A6A;
    --white: #FFFFFF;
    --grey-white: #BCBABA;
    --orange: #F85A40;
}

.cl3 {
    color: var(--primary);
}

.cl4 {
    color: var(--orange);
}

.pl10 {
    padding-left: 10px;
}

.pl5 {
    padding-left: 5px;
}

.p {
    font-size: 17px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}